<div class="section-break-slide">
  <div class="act-num">{{#if metadata.actNum}}{{metadata.actNum}}{{/if}}</div>
  <div class="label" style="position: relative; z-index: 2">
    {{#if metadata.actLabel}}{{metadata.actLabel}}{{/if}}
  </div>
  <h1
    style="
      position: relative;
      z-index: 2;
      margin-top: 0.5rem;
      font-size: 2.5rem;
      max-width: 80%;
    "
  >
    {{#if metadata.title}}{{metadata.title}}{{/if}}
  </h1>
  <h2 style="position: relative; z-index: 2; margin-top: 0.4rem">
    {{#if metadata.subtitle}}{{metadata.subtitle}}{{/if}}
  </h2>
</div>
